<div class="rules-wrapper">
  <span>Правила ввода валидного выражения:</span>
  <ul>
    <li>Выражение может начинаться со знака ('+' или '-'), или знак может отсутствовать</li>
    <li>Перед последними двумя символами выражения должно стоять нижнее подчеркивание ('_') (при отсутствии нижнего подчеркивания,
      если выражение удовлетворяет исходному условию, будет выведено предупреждение)</li>
    <li>В выражении не должны использоваться никакие символы кроме цифр (0-9), знаков '+', '-' и '_'</li>
  </ul>
  <span>Примеры выражений:</span>
  <ul>
    <li><span>12_30</span> — верное выражение</li>
    <li><span>-1230</span> — верное выражение (с предупреждением)</li>
    <li><span>1a_30</span> — неверное выражение</li>
    <li><span>12_20</span> — неверное выражение</li>
    <li><span>+1220</span> — неверное выражение</li>
  </ul>
</div>
